<ul class="nav" id="side-menu">
    <li class="sidebar-search">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
        </div>
        <!-- /input-group -->
    </li>
    <li><a href="?accounts"><i class="fa fa-dashboard fa-fw"></i>Accounts</a></li>
    
    <li><a href="?dashboard"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a></li>
    <li><a href="?flot"><i class="fa fa-dashboard fa-fw"></i>Flot Charts</a></li>
    <li><a href="?morris"><i class="fa fa-dashboard fa-fw"></i>Morris Charts</a></li>
    <li><a href="?tables"><i class="fa fa-dashboard fa-fw"></i>Tables</a></li>
</ul>
