<div class="col-lg-6">
  <form role="form">
      <div class="form-group">
          <label>Enter Bank Account Username:</label>
          <input class="form-control">
          <p class="help-block">Example block-level help text here.</p>
      </div>
      <div class="form-group">
          <label>Enter Bank Account Password:</label>
          <input class="form-control" placeholder="Enter password" type="password">
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
      <button type="reset" class="btn btn-default">Reset</button>
  </form>
</div>