

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MoneyFriends</title>

</head>

<body id="moneyfriends">
  <% if user_signed_in? %>
      <%= render 'devise/app' %>
  <% else %>
      <%= render 'devise/sessions/form' %>
  <% end %>

</body>
<!-- Custom Theme JavaScript -->
<script src="/js/sb-admin-2.js"></script>


</html>
